<div class="ariane-wrapper">
    <app-return-button></app-return-button>
    <a (click)="onClickHome()">
        <fa name="home "></fa>
    </a>
    <ng-container *ngIf="typeName != null && typeName !== 'ANY' ">
        <fa name="caret-right ">
        </fa><a (click)="onClickType()">{{getDisplayable(typeName)}}</a>
    </ng-container>
    <ng-container *ngIf="genreName != null && genreName !== 'ANY'">
        <fa name="caret-right ">
        </fa><a (click)="onClickGenre()">{{getDisplayable(genreName)}}</a>
    </ng-container>
    <ng-container *ngIf="shoudlDisplayEnd">
        <fa name="caret-right "></fa>{{getDisplayable(currentEnd)}}
    </ng-container>
</div>