<!-- Page principale de l'application-->
<div class="container main">
    <div class="page">
        <div class="row">
            <app-header></app-header>
        </div>
        <div class="row">
            <div class="col-md-3">
                <app-filtre></app-filtre>
            </div>
            <div class="col-md-9">
                <app-ariane></app-ariane>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <a href="http://bookking.ovh">
                <fa name="globe "></fa>www.bookking.ovh</a> |
            <a href="mailto:contact@bookking.ovh">
                <fa name="envelope "></fa> contact@bookking.ovh</a>
        </div>
    </footer>
</div>


<!--div *ngIf="getEtatPayer;then paiement else accueil"></div>

<ng-template #accueil>
<div class="col-md-3">
    <app-filtre></app-filtre>
</div>
<div class="col-md-9">
    <app-ariane></app-ariane>
    <router-outlet></router-outlet>
</div>
</ng-template>

<ng-template #paiement>
    <router-outlet></router-outlet>                    
</ng-template-->