<div>

    <form (ngSubmit)="modifier()">

        <div class="panel panel-dark">
            <div class="panel-heading">
                Identifiants
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <label>Email :</label>
                        <br/>
                        <span class="marge">{{client.email}}</span>
                    </div>
                    <div class=" form-group">
                        <label>Nom :</label>
                        <input type="text" class="form-control" placeholder="{{client.name}}" name="name" [(ngModel)]="clientModifie.name">
                        <span [hidden]="validName" class="text-danger">Vous devez entrer un Nom !</span>
                    </div>

                </div>
            </div>
        </div>




        <div class="panel panel-dark">
            <div class="panel-heading">
                Coordonnées
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label for="address">Adresse :</label>
                        <input type="text" class="form-control" placeholder="{{client.address}}" name="address" [(ngModel)]="clientModifie.address">
                        <span [hidden]="validAddress" class="text-danger">Vous devez entrer une adresse !</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-dark">
            <div class="panel-heading">
                Changer de mot de passe
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label for="password">Nouveau Mot de passe:</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="clientModifie.password" autocomplete="off">
                        <span [hidden]="validPassword" class="text-danger">Vous devez entrer un mot de passe !</span>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirmation Mot de passe:</label>
                        <input type="password" class="form-control" name="passwordConfirm" [(ngModel)]="newPassword" autocomplete="off">
                        <span [hidden]="validPasswordConfirm" class="text-danger">Vous devez entrer un mot de passe de confirmation !</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-lg btn-primary" type="modifierInformation();submit">Modifier</button>
    </form>
    <br/>


</div>