body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/back.gif");
    background-size: 150px;
}

.main {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 21px);
    margin-bottom: -30px;
}

.page {
    flex: 1;
    margin: 0;
}

.footer {
    text-align: center;
    color: black;
    margin-left: -15px;
    width: calc(100% + 30px);
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid black;
}


/** cart css **/

.wrapper-cart {
    background: rgba(255, 255, 255, 0.4);
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.wrapper-cart .fa-big {
    font-size: 6em;
    line-height: 100%;
}

.wrapper-cart .choice div {
    height: 100%;
}

.wrapper-cart .choice {
    margin-bottom: 1em;
    height: 6em;
    border: 1px solid #d7dada;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #f4f5f560, #dfdddd60);
    cursor: pointer;
}

.wrapper-cart .choice:hover {
    border: 1px solid #bfc4c4;
    background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
}

.wrapper-cart h3 {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 1em;
}

.wrapper-cart footer {
    border-top: 1px solid black;
    width: 100%;
    padding-top: 1em;
}

.wrapper-cart .align-middle {
    padding-top: 2em;
    display: inline-block;
}