<div id="header_wrapper" class="container">
    <div class="row">
        <div (click)="setCurrent('HOME')" routerLink="/" class="col-md-1 home-link">
            <img id="logo_img" src="assets/logo.gif" alt="logo_site" />
            <span>BooKKinG</span>
        </div>
        <nav class="col-md-8" id="menu_wrapper">
            <ul id="nav">
                <ng-container *ngFor="let type of typeLivres;">
                    <ng-container *ngIf="type !== 'ANY'">
                        <li *ngIf="isCurrent(type);else defaultheader" (click)="setCurrent(type, true)"><a class="current" routerLink="/menu-recherche" href=" # ">{{displayableType(type)}}</a></li>
                        <ng-template #defaultheader>
                            <li (click)="setCurrent(type, true)"><a href=" # " routerLink="/menu-recherche">{{displayableType(type)}}</a></li>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </ul>
        </nav>
        <div class="col-md-3 block-login">
            <button (click)="setCurrent('panier')" routerLink="/panier" class="btn btn-block btn-success"><fa name="shopping-cart "></fa> &nbsp;&nbsp; {{getNumberOfCartItem()}} livre<ng-container *ngIf="getNumberOfCartItem() > 1" >s</ng-container> ({{getTotalPriceOfCart().toFixed(2)}} €)</button><br/>
            <button (click)="setCurrent('login')" routerLink="/identification-inscription" class="btn btn-block btn-success"><fa name="user "></fa> &nbsp;&nbsp; {{getIdentity()}}</button>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3 ">

        </div>
        <div class="col-md-6 ">
            <form id="search_wrapper ">
                <input type="search" id="searchInput" value="{{resetOnChange}}" (input)="search($event.target.value)" />
                <fa name="search "></fa>
            </form>
        </div>
        <div class="col-md-3 ">
        </div>
    </div>
</div>