<section class="wrapper">
    <h1>
        Votre compte client
    </h1>

    <div class="header-admin">
        <ul class="nav nav-tabs nav-justified">
            <ng-container *ngFor="let option of options; let i = index">
                <li role="presentation" class="{{isActiveClass(i)}}"><a (click)="setCurrent(i)">{{option}}</a></li>
            </ng-container>
        </ul>
    </div>
    <div class="content">
        <ng-container *ngIf="current === 0">
            <app-informations-client></app-informations-client>
        </ng-container>
        <ng-container *ngIf="current === 1">
            <app-historique-commandes></app-historique-commandes>
        </ng-container>
    </div>
</section>