.boite {
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
}

.main-picture {
    width: 100%;
    height: auto;
}

.quantity label {
    width: 30%;
    float: left;
    line-height: 2em;
}

.quantity input {
    width: 60%;
    float: right;
    vertical-align: bottom;
}

.quantity {
    clear: both;
    margin-bottom: 10px;
}

.add-to-cart {
    margin-top: 10px;
}

.price-display {
    color: #d44646;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 2px 1px #ffffff;
}

.clear {
    clear: both;
}

h2 {
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 1.8em;
    font-weight: 550;
    color: black;
}