<div>Livre</div>
<div class="row">
    <div class="col-lg-2">
        <!--<img alt="Embedded Image" src="data:image/png;base64," {{livre.picture}} />-->
    </div>
    <div class="col-lg-5">
        <h2>{{livre.title}}</h2>
        <div>{{livre.type}}</div>
        <div>{{livre.genre}}</div>
    </div>
    <div class="col-lg-3 boite">
        <div>{{livre.price}} €</div>
        <div>
            <label>Quantité</label>
            <input type="number" (input)="setNbLivre($event)" value="nbLivre" min="0" max={{livre.stock}} />
        </div>
        <input type="button" (click)="ajouterAuPanier(livre)" value="Ajouter au panier">
    </div>
</div>
<div class="row">
    <h2>Description</h2>
    <p class="boite">
        {{livre.summary}}
    </p>
</div>

<div class="row">
        <input type="button" (click)="retourPageRecherche()" value="<< Précédent" />        
</div>