<div class="wrapper-cart">
    <h3>Veuillez un moyen de livraison</h3>

    <h4>Faite vous livrer gratuitement dans nos magazin!<span class="ship-cost">0€</span></h4>
    <ng-container *ngFor="let shipPoint of listePointLivraison;">
        <div class=" row ">
            <div class="col-md-2 "></div>
            <div class="col-md-9 ">
                <div (click)="ChoixPointLivraison(shipPoint)" class="row choice ">
                    <div class="col-md-1 ">
                        <fa class="fa-big " name="map-marker"></fa>
                    </div>
                    <div class="col-md-10 center ">
                        <span class="align-middle ">Retirer gratuitement votre colis dans notre magazin BooKKinG de {{shipPoint}}</span>
                    </div>
                    <div class=" col-md-1 ">
                        <fa class="fa-big " name="caret-right "></fa>
                    </div>
                </div>
            </div>
            <div class="col-md-1 "></div>
        </div>
    </ng-container>

    <h4>Faite vous livrer à domicile <span tooltip="si les produits commandés sont marqué en stock, hors week-end et jours fériés">sous 48H!</span><span class="ship-cost">{{LivraisonStandard}}€</span></h4>
    <div class=" row ">
        <div class="col-md-2 "></div>
        <div class="col-md-9 ">
            <div (click)="ChoixAdressePersonnelle()" class="row choice ">
                <div class="col-md-2 ">
                    <fa class="fa-big " name="truck"></fa>
                </div>
                <div class="col-md-9 ">
                    <span class="align-middle align-middle-l ">à votre adresse personnelle: <br/>{{addressClient}}</span>
                </div>
                <div class=" col-md-1 ">
                    <fa class="fa-big " name="caret-right "></fa>
                </div>
            </div>
        </div>
        <div class="col-md-1 "></div>
    </div>
    <div class=" row ">
        <div class="col-md-2 "></div>
        <div class="col-md-9 ">
            <div (click)="initDisplayCustomAddr()" class="row choice ">
                <div class="col-md-2 ">
                    <fa class="fa-big " name="truck"></fa>
                </div>
                <ng-container *ngIf="!custAddrIsValid" class=" col-md-2 ">
                    <div class="col-md-8 center ">
                        <span class="align-middle ">Chez une autre personne:</span>
                    </div>
                    <div class="col-md-2 center ">
                        <fa class="fa-big " name="pencil-square-o "></fa>
                    </div>
                </ng-container>
                <ng-container *ngIf="custAddrIsValid" class=" col-md-1 ">
                    <div class="col-md-9 center ">
                        <span class="align-middle align-middle-l">Chez une autre personne: <br/>{{addrTextarea}}</span>
                    </div>
                    <div class="col-md-1 center ">
                        <fa class="fa-big " name="caret-right "></fa>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-md-1 "></div>
    </div>
    <ng-container *ngIf="displayCustomAddr">
        <div class=" row new-addr-wrapper">
            <div class="col-md-2 "></div>
            <div class="col-md-9 ">
                <div class="row ">
                    <div class="col-md-2 ">
                        <fa class="fa-big " name="arrow-right"></fa>
                    </div>
                    <div class="col-md-10 " tooltip="Veuillez entrer ici l'adresse de votre destinateire">
                        <textarea placeholder="saisissez ici l'adresse de votre destinataire" (input)="updateCustomAddr($event.target.value)" ngmodel></textarea>
                    </div>
                </div>
            </div>
            <div class=" col-md-1 "></div>
        </div>
    </ng-container>
</div>