<form (ngSubmit)="inscription(loginForm)" #loginForm="ngForm">
    <table>
        <tr>
            <th colspan="2">Vous être un nouveau client ?</th>
        </tr>
        <tr>
            <td><label for="name">Nom</label></td>
            <td><input type="text" class="form-control" name="name" ngModel/></td>
        </tr>
        <tr>
            <td><label for="email">E-mail</label></td>
            <td><input type="text" class="form-control" name="email" ngModel/></td>
        </tr>
        <tr>
            <td><label for="address">Adresse</label></td>
            <td><input type="text" class="form-control" name="address" ngModel/></td>
        </tr>
        <tr>
            <td><label for="password">Mot de passe</label></td>
            <td><input type="text" class="form-control" name="password" ngModel/></td>
        </tr>
        <tr>
            <td><label for="passwordbis">Comfirmation du mot de passe</label></td>
            <td><input type="text" class="form-control" name="passwordbis" ngModel/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="S'inscrire" /></td>
        </tr>
    </table>
</form>