<div *ngIf="totalDisplayableLivre > 0" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="inner">
            Livres affichés : {{minLivre}} - {{maxLivre}} sur {{totalDisplayableLivre}}
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="text-right col-md-4">
        <div class="inner">
            <fa (click)="prevPage()" name="chevron-left "></fa>&nbsp;&nbsp;
            <ng-container *ngFor="let page of availablePage;">
                <span *ngIf="page > 1">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                <span *ngIf="page !== currentPage;" class="clickable" (click)="setPage(page)">{{page}}</span>
                <span *ngIf="page === currentPage;" class="current" (click)="setPage(page)">{{page}}</span>
            </ng-container>
            &nbsp;&nbsp;
            <fa (click)="nextPage()" name="chevron-right "></fa>
        </div>
    </div>
    <div class="text-left col-md-1"></div>
</div>

<div *ngIf="totalDisplayableLivre <= 0" class="text-center">
    aucun résultat
</div>