.inner {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
    padding: 0.25em 1em;
}

.row {
    color: black;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width: 100%;
}

.current {
    font-weight: bold;
}

.clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}

fa {
    cursor: pointer;
}