<div class="wrapper-cart">
    <h3>Veuillez choisir un moyen de paiement</h3>
    <ng-container *ngFor="let payOpt of payementsOption;">
        <div class="row">
            <div class="col-md-2 "></div>
            <div class="col-md-9 ">
                <div (click)="validerPaiement()" class="row choice ">
                    <div class="col-md-4 ">
                        <fa class="fa-big " name="{{payOpt}}"></fa>
                    </div>
                    <div class="col-md-6 center ">
                        <span class="align-middle ">Payer par {{getDisplayable(payOpt)}}</span>
                    </div>
                    <div class=" col-md-2 ">
                        <fa class="fa-big " name="caret-right "></fa>
                    </div>
                </div>
            </div>
            <div class="col-md-1 "></div>
        </div>
    </ng-container>
    <footer>
        Total à payer : {{total}}€
    </footer>
</div>