<div class="wrapper-cart">
    <h3>Merci pour votre commande est confirmée</h3>
    <table class="table table-hover table-responsive-md">
        <thead class="thead-dark">
            <tr>
                <th colspan="5">Détail de votre Commande n° {{idCommand}}, livrée à : {{Address}} :</th>
            </tr>
            <tr>
                <th scope="col">
                    Livre
                </th>
                <th scope="col">
                    En Stock?
                </th>
                <th scope="col">
                    Quantité
                </th>
                <th scope="col">
                    Prix
                </th>
            </tr>
        </thead>
        <tbody class="table-striped">
            <tr *ngFor=" let article of currentArticles; ">
                <td class="clickable" (click)="detailLivre(article.book)">
                    {{article.book.title}} <br/> {{article.book.type}} de {{article.book.author}}
                </td>
                <td>
                    <app-stock [stock]="article.book.stock"></app-stock>
                </td>
                <td>
                    {{article.quantity}}
                </td>
                <td>
                    {{getPrice(article)}} €
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="liv-line">
                <td></td>
                <td colspan=2>Frais de Livraison</td>
                <td>{{shippingCost}} €</td>
            </tr>
            <tr class="tot-line">
                <td></td>
                <td colspan=2>Total</td>
                <td>{{totalPrice}} €</td>
            </tr>
        </tfoot>
    </table>
    <footer>
        <div class="row ">
            <div class="col-md-2 "></div>
            <div class="col-md-9 ">
                <div (click)="setCurrentOther('HOME')" class="row choice ">
                    <div class="col-md-4 ">
                        <fa class="fa-big " name="home "></fa>
                    </div>
                    <div class="col-md-6 center ">
                        <span class="align-middle ">Retour à l'accueil</span>
                    </div>
                    <div class=" col-md-2 ">
                        <fa class="fa-big " name="caret-right "></fa>
                    </div>
                </div>
            </div>
            <div class="col-md-1 "></div>
        </div>
        <div class="row ">
            <div class="col-md-2 "></div>
            <div class="col-md-9 ">
                <div (click)="setCurrentOther('COMPTE')" class="row choice ">
                    <div class="col-md-4 ">
                        <fa class="fa-big " name="user "></fa>
                    </div>
                    <div class="col-md-6 center ">
                        <span class="align-middle ">Visualiser mes commandes</span>
                    </div>
                    <div class=" col-md-2 ">
                        <fa class="fa-big " name="caret-right "></fa>
                    </div>
                </div>
            </div>
            <div class="col-md-1 "></div>
        </div>
    </footer>
</div>