<button class="btn btn-primary btn-sm" (click)="ajouterLivre()"> Ajouter un nouveau livre dans la base </button>
<button class="btn btn-primary btn-sm" (click)="modifierStockLivrer()"> Modifier le stock d'un livre dans la base </button>



<div *ngIf ="ajouter" class="wrapper">
  <header>Livre à ajouter dans la base de donnée</header>
  <form (ngSubmit)="createNewBook()" [formGroup]="createNewBookForm">
    <!-- <div class="{{serverResponseClass}}" [hidden]="serverResponse === '' || serverResponse === null">
          <fa name="exclamation-circle "></fa>{{serverResponse}}
      </div>
    -->

      <label for="title">Titre:</label>
      <input type="text" class="form-control" formControlName="title" id="title" #title ngModel>
      <span [hidden]="createNewBookForm.get('title').valid || !createNewBookForm.get('title').touched" class="text-danger">
        Vous devez entrer un titre valide.<br/>
      </span>
      <br/>

      <label for="author">Auteur:</label>
      <input type="text" class="form-control" formControlName="author" id="author" #author ngModel>
      <span [hidden]="createNewBookForm.get('author').valid || !createNewBookForm.get('author').touched" class="text-danger">
        Vous devez entrer un auteur valide.<br/>
      </span>
      <br/>

      <div>
        <label for="typeSelected"><strong>Type:</strong></label>
        <div *ngFor="let type of types;">
          <input type="radio" value="{{type}}" formControlName="typeSelected"  id="typeSelected" #typeSelected ngModel/> 
          {{displayableType(type)}}
        </div>

        <div>
          <label for="genreSelected"><strong>Genre:</strong></label>
          <div *ngFor="let genre of genres;">
            <input  type="radio" value="{{genre}}" formControlName="genreSelected"  id="genreSelected" #genreSelected ngModel/> 
             {{displayableType(genre)}}
          </div>
        </div>
      </div>
      <br/>
      <label for="summary">Résumé:</label>
      <textarea class="form-control" formControlName="summary" id="summary" #summary ngModel></textarea>
      <br/>


      <label for="price">Prix:</label>
      <input type="number" min="0" class="form-control" formControlName="price" id="price" #price ngModel>
      <span [hidden]="createNewBookForm.get('price').valid || !createNewBookForm.get('price').touched" class="text-danger">
        Vous devez entrer un price valide.<br/>
      </span>
      <br/>

      <label for="stock">Stock:</label>
      <input type="number" min="0" class="form-control" formControlName="stock" id="stock" #stock ngModel>
      <span [hidden]="createNewBookForm.get('stock').valid || !createNewBookForm.get('stock').touched" class="text-danger">
        Vous devez entrer un stock valide.<br/>
      </span>
      <br/>


      <button class="btn btn-block btn-success" type="submit" [disabled]="!createNewBookForm.valid">Ajouter</button>
  </form>
</div>
