<div *ngFor="let livre of listeLivres;">
    <div class="bs-calltoaction bs-calltoaction-success">
        <div class="row">
            <div class="col-md-2">
                <img class="vignette" alt="{{livre.title}}" src="data:image/png;base64,{{livre.picture}}" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div>{{livre.title}}</div>
                    </div>
                    <div class="col-md-4">
                        <input type="button" (click)="ajouterAuPanier(livre)" value="Ajouter au panier" class="btn btn-lg btn-block btn-success">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div>{{getSummarizedSummary(livre)}}</div>
                    </div>
                    <div class="col-md-4">
                        <br/>
                        <input type="button" (click)="TODO" value="Voir les Détails" class="btn btn-lg btn-block btn-success">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>