.bs-calltoaction {
    position: relative;
    width: auto;
    padding: 15px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bs-calltoaction.bs-calltoaction-success {
    background-image: url("/assets/header.jpg");
    border: 1px double rgba(0, 0, 0, 0.2);
}

.vignette {
    height: auto;
    width: 100%;
}

.type,
.genre {
    text-decoration: underline;
}

.prixLivre {
    color: #d80101;
    text-align: center;
    margin: auto;
    font-size: xx-large;
}
