<div class="wrapper-cart">
    <h3>
        <span class="text-left">Votre Panier</span>
        <button *ngIf="montantGlobal !== '0.00'" id="clear-cart-btn" class="btn btn-sm btn-secondary" (click)="viderPanier()"><fa name="trash-o" ></fa>Vider Panier</button>
    </h3>
    <ng-container *ngIf="montantGlobal !== '0.00'">
        <table class="table table-hover table-responsive-md">
            <thead class="thead-dark">
                <tr>
                    <th class="td-image" scope="col">

                    </th>
                    <th scope="col">
                        Livre
                    </th>
                    <th scope="col">
                        En Stock?
                    </th>
                    <th scope="col">
                        Quantité
                    </th>
                    <th scope="col">
                        Prix
                    </th>
                </tr>
            </thead>
            <tbody class="table-striped">
                <tr *ngFor=" let article of contenuPanier; ">
                    <td class="td-image clickable" (click)="detailLivre(article.book) " tooltip="Voir les détails du livre">

                    </td>
                    <td class="clickable" (click)="detailLivre(article.book)" tooltip="Voir les détails du livre">
                        {{article.book.title}} <br/> {{article.book.type}} de {{article.book.author}}
                    </td>
                    <td>
                        <app-stock [stock]="article.book.stock "></app-stock>
                    </td>
                    <td>
                        <input type="number" (input)="setQuantity(article.book, $event.target.value)" value="{{article.quantity}}" min="1" />
                        <fa name="trash" (click)="supprimer(article.idBook) " tooltip="Supprimer cet article de votre panier "></fa>
                    </td>
                    <td>
                        {{getPrice(article)}} €
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=3></td>
                    <td>Total</td>
                    <td>{{montantGlobal}} €</td>
                </tr>
            </tfoot>
        </table>
        <footer>
            <div class="row ">
                <div class="col-md-2 "></div>
                <div class="col-md-9 ">
                    <div (click)="payer() " class="row choice ">
                        <div class="col-md-4 ">
                            <fa class="fa-big " name="check "></fa>
                        </div>
                        <div class="col-md-6 center ">
                            <span class="align-middle ">Passer ma Commande</span>
                        </div>
                        <div class=" col-md-2 ">
                            <fa class="fa-big " name="caret-right "></fa>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 "></div>
            </div>
        </footer>
    </ng-container>
    <ng-container *ngIf="montantGlobal === '0.00'">
        <div class="empty-cart">
            Votre panier est vide. <br/>Ne perdez pas une seconde et découvrez notre catalogue en cliquant sur le bouton « Commencer vos achats ».
            <br/><br/>
            <button class="btn btn-secondary btn-block" (click)="navigate('HOME')">Commencer vos achats</button>
        </div>
    </ng-container>
</div>