<h3>
  Panier - total : {{montantTotal}} euros
</h3>


<div>
<ul>
  <li *ngFor="let livre of listeLivre;"> {{livre.genre}} / {{livre.title}} - {{livre.author}} : {{livre.price}} euros</li>

 <!-- <li *ngFor="let livre = list.elt; list = list.suiv"> {{livre.genre}} / {{livre.titre}} - {{livre.auteur}} : {{livre.prix}} euros</li>
 -->
</ul>
</div>


<div>
  total : {{montantTotal}} euros
  <input type="button" (click)="payer()" value="Payer">
</div>

<!--
<div>
  <input type="button" (click)="payerAvecAdresse()" value="Saisir Adresse de livraison">
  <input type="button" (click)="payerPointCollecte()" value="Choisir un point de retrait">
</div>
-->