
    
    <div class="row">

    <div class="stepwizard col-md-6 " >
        <div class="stepwizard-row header_commande" >
            <div class="stepwizard-step">
                <button type="button" class="btn btn-default btn-circle">1</button>
                <p>Panier</p>
            </div>
            <div class="stepwizard-step">
                <button type="button" class="btn btn-primary btn-circle">2</button>
                <p>Livraison</p>
            </div>
            <div class="stepwizard-step">
                <button type="button" class="btn btn-default btn-circle">3</button>
                <p>Paiement</p>
            </div>
            <div class="stepwizard-step">
                <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
                <p>Terminer</p>
            </div> 
        </div>
    </div>

    </div>
