<br/>
<div class="row" id="table">

    <div class="col-md-12 menu-header">
        Prix
    </div>
    <div class="col-md-12 menu-container">
        <div class="range-price-wrapper" (mouseup)="onPriceChange()">
            <span class="range-price-display">{{minPrice}} €</span>
            <input #rangeSlider id="range-slider" type="range" multiple min="0" max="100" value="0,100" />
            <span class="range-price-display">{{maxPrice}} €</span>
        </div>
    </div>
</div>

<div class="container">
    <br/>
</div>

<div class="row" id="table">

    <div class="col-md-12 menu-header">
        Genre
    </div>
    <div class="col-md-12 menu-container">
        <div class="list-group">
            <ng-container *ngFor="let genre of genres;">
                <a (click)="setGenreSelected(genre)" class="list-group-item list-group-item-blue">{{genre}}</a>
            </ng-container>
        </div>
    </div>
</div>