<div class="{{classTransaction}}">
    <br/>
    <div class="row" id="table">
        <div class="col-md-12 menu-header">
            Prix
        </div>
        <div class="col-md-12 menu-container">
            <div class="range-price-wrapper" (mouseup)="onPriceChange(rangeSlider.value,true)" (mousemove)="onPriceChange(rangeSlider.value,false)">
                <span class="range-price-display">{{minPrice}} €</span>
                <input #rangeSlider id="range-slider" type="range" multiple min="{{minMinPrice}}" max="{{maxMaxPrice}}" value="{{minMinPrice}},{{maxMaxPrice}}" />
                <span class="range-price-display">{{maxPrice}} €</span>
            </div>
        </div>
    </div>

    <div class="container">
        <br/>
    </div>

    <div class="row" id="table">

        <div class="col-md-12 menu-header">
            Genre
        </div>
        <div class="col-md-12 menu-container">
            <div class="list-group">
                <ng-container *ngFor="let genre of genres;">
                    <span (click)="setCurrentGenre(genre)">
                    <a *ngIf="genre === currentGenre;else defaultTemplate" routerLink="/menu-recherche" class="list-group-item list-group-item-blue active">
                        {{displayableGenre(genre)}}
                    </a>
                    <ng-template #defaultTemplate>
                        <a routerLink="/menu-recherche" class="list-group-item list-group-item-blue">{{displayableGenre(genre)}}</a>
                    </ng-template>
        </span>
                </ng-container>
            </div>
        </div>
    </div>
</div>