<br/>
<div class="row" id="table">

    <div class="col-md-12" style="text-align: center">
        Prix
    </div>
    <div class="col-md-12">

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-blue"> Prix > </a>
            <a href="#" class="list-group-item list-group-item-blue"> Prix < </a>
            <a href="#" class="list-group-item list-group-item-blue"> Entre ... et ...</a>
        </div>
    </div>

</div>

<div class="container">
    <br/>
</div>

<div class="row" id="table">

    <div class="col-md-12" style="text-align: center">
        Genre
    </div>
    <div class="col-md-12">
        <div class="list-group">
            <ng-container *ngFor="let genre of genres;">
                <a (click)="setGenreSelected(genre)" class="list-group-item list-group-item-blue">{{genre}}</a>
            </ng-container>
        </div>
    </div>
</div>